<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>Document</title>
</head>
<body>
    <%- include('partials/header', {loggedIn: locals.loggedIn, user: locals.user}) %>
    <% if(locals.user) {%>
        <div id="dashboard">
            <div id="top-container">
                <div id="budgets-container">
                    <div id="add-transaction-btns">
                        <button id="add-expense-btn"><b>+ Add Expense</b></button>
                        <button id="add-income-btn"><b>+ Add Income</b></button>
                    </div>
                    <form id="add-expense-form" class="add-transaction-form" action="http://localhost:3000/api/transactions/" method="post">
                        <h2>ADD EXPENSE:</h2>
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" required>
                        <label for="amount">Amount:</label>
                        <input type="number" step="0.01" id="amount" name="amount" required>
                        <% JSON.stringify(currencies) %>
                        <label for="currency">Currency:</label>
                        <select name="currency" id="currency" required>
                            <% for(const currency of locals.currencies) {%>
                                <option value="<%= currency.code %>"><%= currency.name %></option>
                            <% } %>
                        </select>
                        <label for="category">Category:</label>
                        <select name="categoryid" id="categoryid" required>
                            <% for(const category of locals.categories) {%>
                                <option value="<%= category.categoryid %>"><%= category.name %></option>
                            <% } %>
                        </select>
                        <label for="account">Account:</label>
                        <select name="accountid" id="accountid" required>
                            <% for(const account of locals.accounts) {%>
                                <option value="<%= account.accountid %>"><%= account.name %></option>
                            <% } %>
                        </select>
                        <div class="buttons-container">
                            <button class="submit-transaction button-fill" type="submit"> <b>Add Transaction</b></button>
                            <button class="cancel-transaction button-outline" type="button"><b>Cancel</b></button>
                        </div>
                    </form>
                    <form id="add-income-form" class="add-transaction-form" action="http://localhost:3000/api/transactions/" method="post">
                        <h2>ADD INCOME:</h2>
                        <input type="hidden" name="income" value="true">
                        <label for="description">Description:</label>
                        <input type="text" id="description" name="description" required>
                        <label for="amount">Amount:</label>
                        <input type="number" step="0.01" id="amount" name="amount" required>
                        <% JSON.stringify(currencies) %>
                        <label for="currency">Currency:</label>
                        <select name="currency" id="currency" required>
                            <% for(const currency of locals.currencies) {%>
                                <option value="<%= currency.code %>"><%= currency.name %></option>
                            <% } %>
                        </select>
                        <label for="account">Account:</label>
                        <select name="accountid" id="accountid" required>
                            <% for(const account of locals.accounts) {%>
                                <option value="<%= account.accountid %>"><%= account.name %></option>
                            <% } %>
                        </select>
                        <div class="buttons-container">
                            <button class="submit-transaction button-fill" type="submit"> <b>Add Transaction</b></button>
                            <button class="cancel-transaction button-outline" type="button"><b>Cancel</b></button>
                        </div>
                    </form>
                    <div id="categories-container">
                        <h2>Budget</h2>
                        <% for( const category of locals.budgets ) { %>
                            <div class="category-chart-container">
                                <h3><%= category.categoryname %></h3> 
                                <div class="chart-currency-amount">
                                    <div class="outer-fill-chart">
                                        <div class="inner-fill-chart" style="width: <%= (category.realamount / category.budgetamount *100) + '%' %>;"><span><%= category.realamount %>(<%= (category.realamount / category.budgetamount *100).toString().split('.')[0] %>%)</span></div>
                                    </div> 
                                    <span><b><%= category.budgetamount %> <%= category.currency %></b></span>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div id="accounts-container">
                    <h2>Accounts</h2>
                    <table>
                        <thead>
                            <th>Account</th>
                            <th>Balance</th>
                            <th>Currency</th>
                        </thead>
                        <% for( const account of locals.accounts) { %>
                            <tr>
                                <td><%= account.name %></td>
                                <td><%= account.actualbalance %></td>
                                <td><%= account.currency %></td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
            <div id="transactions-container">
                <h2>Transactions</h2>
                <div id="mobile-transactions">
                    <% for(const transaction of transactions) {%>
                        <div class="transaction-div">
                            <div>
                                <small><%= transaction.date.toString().slice(0,15) %></small>
                            </div>
                            <div>
                                <div><b><%= transaction.description %></b></div><div><b><%= transaction.amount %><%= transaction.currency %></b></div>
                            </div>
                            <div>
                                <div><small><%= transaction.categoryname %></small></div><div><small><%= transaction.accountname %></small></div>
                            </div>
                        </div>
                    <% } %>
                </div>
                <div id="desktop-transactions">
                    <table>
                        <thead>
                            <th>Amount</th>
                            <th>Currency</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Account</th>
                            <th>Date</th>
                        </thead>
                        <% for(const transaction of transactions) {%>
                            <tr>
                                <td><%= transaction.amount %></td>
                                <td><%= transaction.currency %></td>
                                <td><%= transaction.description %></td>
                                <td><%= transaction.categoryname %></td>
                                <td><%= transaction.accountname %></td>
                                <td><%= transaction.date.toString().slice(0,15) %></td>
                            </tr>
                        <% } %>
                    </table>
                </div>
            </div>
        </div>
    <% } else { %>
        <div id="home-not-logged-in">
            <h1 class="logo">GlobaLedger</h1>
            <h1>Track your finances</h1>
            <ul>
                <li>Set Budgets</li>
                <li>Categorize Expenses</li>
                <li>Check Account Balances</li>
            </ul>
            <h1><i>Across any combination of currencies</i></h1>
            <div id="buttons-div">
                <a href="/signup"><button class="header-button" id="signupBtn">Sign Up</button></a>
                <a href="/login"><button class="header-button" id="loginBtn">Login</button></a>
            </div>
        </div>
    <% } %>
    <script>
        const addBtnsContainer = document.getElementById('add-transaction-btns');
        const addExpenseButton = document.getElementById('add-expense-btn');
        const addIncomeButton = document.getElementById('add-income-btn');
        const addExpenseForm = document.getElementById('add-expense-form');
        const addIncomeForm = document.getElementById('add-income-form');
        const cancelBtns = document.getElementsByClassName('cancel-transaction');
        console.log(cancelBtns)
        addExpenseButton.addEventListener('click', () => {
            addExpenseForm.style.display = 'flex';
            addBtnsContainer.style.display = 'none';
        });
        addIncomeButton.addEventListener('click', () => {
            addIncomeForm.style.display = 'flex';
            addBtnsContainer.style.display = 'none';
        });
        [...cancelBtns].forEach(btn => btn.addEventListener('click', () => {
            addExpenseForm.style.display = 'none';
            addIncomeForm.style.display = 'none';
            addBtnsContainer.style.display = 'flex';
        }))
    </script>
</body>
</html>